<title>Home</title>
<h1>Assignment Manager</h1>
<% if (user) { %> 
    <h4>Hello <%= user.username %>, what would you like to do today?</h4>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <br/>
<% } else { %>
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>
    <br/><br/>
<% } %>
<button><a href="/work">See assignments</a></button>
<br />
<button><a href="/complete">See completed assignment</a></button>