<!DOCTYPE html>
<html>
    <head>
        <title>Completed Work</title>
    </head>
    <body>
        <h1><%= user.username %>'s Completed Work</h1>
        <a href="/">Home</a>
        <br />
        <a href="/work">Work</a>
        <% if (completed.length > 0) { %>
            <% for(i=0; i < completed.length ; i++) { %>
                <hr />
                <h2><%= completed[i].name %></h2>
                <p>Completed On: <%= completed[i].completed.toDateString() %></p>
                <form action="/complete/delete" method="POST">
                    <input hidden name="id" value="<%= completed[i]._id %>" />
                    <button type="submit">Remove</button>
                </form>
                <hr />
            <% } %>
        <% } else { %>
            <h3>Hm, seems like you haven't finished any work, better get on that...</h3>
        <% } %>
    </body>
</html>